@media only screen and (min-width: 760px) {
    .MuiAppBar-root {
        flex-direction: row !important;
    }
    .makeStyles-hero-36 , .makeStyles-hero-13 {
        flex-direction:  row;
        margin: 0;
        justify-content: space-evenly;

    }
    .makeStyles-question-12 {
        font-size: 3vw !important;
    }
}

@media only screen and (min-width: 1025px) {
    .makeStyles-hero-11 {
       flex-direction: row !important;
       margin: 6% auto;
    }
}